flows.json
[{"id":"f3ac7618.46a8b8","type":"tab","label":"Presence Notifier","disabled":true,"info":""},{"id":"1a2cb565.da8d13","type":"tab","label":"Night Lights","disabled":false,"info":"These Run the dog lights and the lights for thes sliding door"},{"id":"70065a63.991434","type":"tab","label":"Battery Notifier","disabled":false,"info":""},{"id":"54a0cb58.3c0b0c","type":"tab","label":"Doors and Lights","disabled":false,"info":""},{"id":"3c86396e.47e14e","type":"tab","label":"Startup","disabled":false,"info":"Set the theme to midnight at startup for all users.\n\nRuns the motion detector script."},{"id":"c711aad0.2877e8","type":"tab","label":"Alexa TTS","disabled":true,"info":""},{"id":"aeb44500.97e1d8","type":"tab","label":"Media","disabled":false,"info":""},{"id":"fb5a1469.765f7","type":"tab","label":"Party Mode Mode","disabled":false,"info":"Limits volume when party is happening"},{"id":"430cc093.097708","type":"tab","label":"Dev","disabled":false,"info":""},{"id":"5d90dc2e.5bfcac","type":"tab","label":"Reminders","disabled":true,"info":""},{"id":"bf0aba48.82a0a","type":"server","z":"","name":"Hassv2","legacy":false,"hassio":false,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true},{"id":"6f43391a.f77bc8","type":"server","z":"","name":"Home Assistant"},{"id":"ae61969b.22a82","type":"server","z":"","name":"Home Assistant"},{"id":"79a81532.f6b5dc","type":"server-state-changed","z":"1a2cb565.da8d13","name":"Sun","server":"bf0aba48.82a0a","version":1,"entityidfilter":"sun.sun","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"below_horizon","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":73.5,"y":386,"wires":[["19100733.fff121"],["7ee4d59.9b7c62c"]],"icon":"node-red-node-suncalc/sun.png"},{"id":"19100733.fff121","type":"api-call-service","z":"1a2cb565.da8d13","name":"Turn On Lights","server":"bf0aba48.82a0a","version":1,"service_domain":"light","service":"turn_on","entityId":"light.hanging_light, light.front_room_lamp_1","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":262.5,"y":305,"wires":[[]],"icon":"font-awesome/fa-lightbulb-o"},{"id":"7ee4d59.9b7c62c","type":"delay","z":"1a2cb565.da8d13","name":"Delay Turn Off","pauseType":"delay","timeout":"30","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":246.5,"y":443,"wires":[["35757142.58f6e6"]]},{"id":"35757142.58f6e6","type":"api-call-service","z":"1a2cb565.da8d13","name":"Turn Off Lights","server":"bf0aba48.82a0a","version":"1","service_domain":"light","service":"turn_off","entityId":"light.hanging_light, light.front_room_lamp_1","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":454,"y":400,"wires":[[]],"icon":"font-awesome/fa-lightbulb-o"},{"id":"7f41594.d55d028","type":"api-call-service","z":"3c86396e.47e14e","name":"Set Theme","server":"bf0aba48.82a0a","service_domain":"frontend","service":"set_theme","data":"{\"name\":\"midnight\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1228.5,"y":540,"wires":[[]]},{"id":"a7421834.42816","type":"server-state-changed","z":"70065a63.991434","name":"Check Front Door Lock","server":"bf0aba48.82a0a","version":1,"entityidfilter":"sensor.front_door_lock_battery","entityidfiltertype":"exact","outputinitially":false,"state_type":"num","haltifstate":"30","halt_if_type":"num","halt_if_compare":"lt","outputs":2,"output_only_on_state_change":true,"x":200.5,"y":448,"wires":[["54710848.58003","ce91843f.a9bc7"],[]]},{"id":"b47bcfd2.8fd0e","type":"server-state-changed","z":"70065a63.991434","name":"Check Front Doorbell ","server":"bf0aba48.82a0a","version":1,"entityidfilter":"sensor.front_door_ring_battery","entityidfiltertype":"exact","outputinitially":false,"state_type":"num","haltifstate":"30","halt_if_type":"num","halt_if_compare":"lt","outputs":2,"output_only_on_state_change":true,"x":201,"y":533,"wires":[["98cd2bd0.df32a8","5aa4d5c0.93318c"],[]]},{"id":"52dc58ed.6d9968","type":"api-call-service","z":"54a0cb58.3c0b0c","name":"Turn On Pantry Light","server":"bf0aba48.82a0a","service_domain":"light","service":"turn_on","data":"{\"entity_id\":\"light.pantry\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":657,"y":581,"wires":[["293f0e80.8abdd2"]],"icon":"font-awesome/fa-lightbulb-o","info":"after this read the value of the timer, if its on then cancel it. if not ignore."},{"id":"fec62fdc.82b578","type":"api-call-service","z":"54a0cb58.3c0b0c","name":"Turn Off Pantry Light","server":"bf0aba48.82a0a","service_domain":"light","service":"turn_off","data":"{\"entity_id\":\"light.pantry\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":905,"y":689,"wires":[[]],"icon":"font-awesome/fa-lightbulb-o"},{"id":"1fdf8d80.bcc32b","type":"stoptimer","z":"54a0cb58.3c0b0c","duration":"5","units":"Minute","payloadtype":"bool","payloadval":"true","name":"","x":636,"y":696,"wires":[["fec62fdc.82b578"],[]]},{"id":"293f0e80.8abdd2","type":"change","z":"54a0cb58.3c0b0c","name":"Stop Timer","rules":[{"t":"set","p":"payload","pt":"msg","to":"STOP","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":909,"y":580,"wires":[["1fdf8d80.bcc32b"]]},{"id":"98cd2bd0.df32a8","type":"api-call-service","z":"70065a63.991434","name":"Doorbell Notification","server":"bf0aba48.82a0a","service_domain":"notify","service":"melody","data":"{\"title\":\"August Battery Update {{ states.sensor.time.state }}\",\"message\":\"Ring Doorbell is at less than 30% battery. Change it soon!\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":472,"y":596,"wires":[["74de34.057279cc"]]},{"id":"54710848.58003","type":"api-call-service","z":"70065a63.991434","name":"Door Lock Notification","server":"bf0aba48.82a0a","service_domain":"notify","service":"melody","data":"{\"title\":\"Ring Battery Update {{ states.sensor.time.state }}\",\"message\":\"August Doorlock is at less than 30% battery. Change it soon!\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":473,"y":378,"wires":[["b3d1001a.89f21"]]},{"id":"4d7a8092.941b4","type":"status","z":"3c86396e.47e14e","name":"HASS Status","scope":["3514f390.8f018c"],"x":549,"y":546,"wires":[["9a657abf.5592d"]]},{"id":"9a657abf.5592d","type":"switch","z":"3c86396e.47e14e","name":"Is Connected?","property":"status.text","propertyType":"msg","rules":[{"t":"eq","v":"connected","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":785,"y":546,"wires":[["59bc42e7.1fbd74"]]},{"id":"3514f390.8f018c","type":"server-state-changed","z":"3c86396e.47e14e","name":"Random State Check","server":"bf0aba48.82a0a","version":1,"entityidfilter":"binary_sensor.front_door","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":false,"x":581,"y":440,"wires":[[],[]]},{"id":"c1bf613f.29803","type":"server-state-changed","z":"f3ac7618.46a8b8","name":"Brandon Tracker","server":"bf0aba48.82a0a","version":1,"entityidfilter":"device_tracker.brandons_galaxy","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"home","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":401.5,"y":187,"wires":[["aec6e350.47ffb"],["8eadf7f2.4a0d48"]]},{"id":"9595df5d.0c7e38","type":"server-state-changed","z":"f3ac7618.46a8b8","name":"Joe Tracker","server":"bf0aba48.82a0a","version":1,"entityidfilter":"device_tracker.joes_iphone_main","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"home","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":407,"y":550,"wires":[["5511e8e5.25019"],["118d63f.b213c1c"]]},{"id":"9f8eb796.68721","type":"server-state-changed","z":"f3ac7618.46a8b8","name":"Kayla Tracker","server":"bf0aba48.82a0a","version":1,"entityidfilter":"device_tracker.kaylas_iphone_main","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"home","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":406,"y":354,"wires":[["fd1b2825.63e0a","7fe0d4e2.b73afc"],["e10344a9.637f9","229fc3dc.db124c"]]},{"id":"aec6e350.47ffb","type":"api-call-service","z":"f3ac7618.46a8b8","name":"Send Pushover Notification","server":"bf0aba48.82a0a","service_domain":"notify","service":"melody","data":"{\"title\":\"Presense Notifier\",\"message\":\"Brandon is Home\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":771,"y":120,"wires":[["f6344501.7baf2"]]},{"id":"fd1b2825.63e0a","type":"api-call-service","z":"f3ac7618.46a8b8","name":"Send Pushover Notification","server":"bf0aba48.82a0a","service_domain":"notify","service":"melody","data":"{\"title\":\"Presense Notifier\",\"message\":\"Kayla is Home\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":735,"y":310,"wires":[["e198e89e.d667a8"]]},{"id":"8eadf7f2.4a0d48","type":"api-call-service","z":"f3ac7618.46a8b8","name":"Send Pushover Notification","server":"bf0aba48.82a0a","version":0,"service_domain":"notify","service":"melody","data":"{\"title\":\"Presense Notifier\",\"message\":\"Brandon Left the House\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":777,"y":173,"wires":[["8e145e48.a71b1"]]},{"id":"e10344a9.637f9","type":"api-call-service","z":"f3ac7618.46a8b8","name":"Send Pushover Notification","server":"bf0aba48.82a0a","service_domain":"notify","service":"melody","data":"{\"title\":\"Presense Notifier\",\"message\":\"Kayla Left the House\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":732,"y":380,"wires":[["facdaa98.955df8"]]},{"id":"88862886.542098","type":"server-state-changed","z":"54a0cb58.3c0b0c","name":"Check Pantry Door Status","server":"bf0aba48.82a0a","version":1,"entityidfilter":"binary_sensor.pantry_door","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":375,"y":276,"wires":[["5ac77dd4.6a31ac"],["dee522e4.f0214"]]},{"id":"2965b337.e16044","type":"api-call-service","z":"54a0cb58.3c0b0c","name":"Send Pushover Notification","server":"bf0aba48.82a0a","service_domain":"notify","service":"melody","data":"{\"title\":\"Pantry Door Remained Open\",\"message\":\"Pantry Door has been open for longer than 10 minutes!\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":913,"y":220,"wires":[["2491d58d.d89a9a"]]},{"id":"5ac77dd4.6a31ac","type":"stoptimer","z":"54a0cb58.3c0b0c","duration":"20","units":"Minute","payloadtype":"num","payloadval":"0","name":"20 Min Countdown","x":677,"y":270,"wires":[["2965b337.e16044","eef32ae7.ffabe"],[]]},{"id":"dee522e4.f0214","type":"change","z":"54a0cb58.3c0b0c","name":"Stop Timer","rules":[{"t":"set","p":"payload","pt":"msg","to":"STOP","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":532,"y":332,"wires":[["5ac77dd4.6a31ac"]]},{"id":"9198d765.f320a8","type":"trigger-state","z":"1a2cb565.da8d13","name":"Door Opened","server":"bf0aba48.82a0a","entityid":"binary_sensor.sliding_door","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"afc1ggoeinl","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on"},{"id":"yrzosqjph7q","targetType":"entity_id","targetValue":"sun.sun","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"below_horizon"},{"id":"r34600un75","targetType":"entity_id","targetValue":"media_player.living_room_shield","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"off"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":183,"y":161,"wires":[["589dae7f.9e2d78"],[]]},{"id":"589dae7f.9e2d78","type":"api-call-service","z":"1a2cb565.da8d13","name":"Turn On Light","server":"bf0aba48.82a0a","service_domain":"light","service":"turn_on","data":"{\"entity_id\":\"light.kitchen\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":388,"y":161,"wires":[[]],"icon":"font-awesome/fa-lightbulb-o"},{"id":"59bc42e7.1fbd74","type":"stoptimer","z":"3c86396e.47e14e","duration":"1","units":"Millisecond","payloadtype":"num","payloadval":"0","name":"Pointless Timer","x":1009,"y":480,"wires":[["7f41594.d55d028"],[]]},{"id":"118d63f.b213c1c","type":"api-call-service","z":"f3ac7618.46a8b8","name":"Send Pushover Notification - Brandon","server":"bf0aba48.82a0a","service_domain":"notify","service":"melody_brandon","data":"{\"title\":\"Presense Notifier\",\"message\":\"Joe Left the House\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":815,"y":546,"wires":[[]]},{"id":"7fe0d4e2.b73afc","type":"api-call-service","z":"f3ac7618.46a8b8","name":"Send Pushover Notification - Brandon","server":"bf0aba48.82a0a","service_domain":"notify","service":"melody_brandon","data":"{\"title\":\"Presense Notifier\",\"message\":\"Kayla is Home\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":766,"y":246,"wires":[[]]},{"id":"229fc3dc.db124c","type":"api-call-service","z":"f3ac7618.46a8b8","name":"Send Pushover Notification - Brandon","server":"bf0aba48.82a0a","service_domain":"notify","service":"melody_brandon","data":"{\"title\":\"Presense Notifier\",\"message\":\"Kayla Left the House\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":751,"y":443,"wires":[[]]},{"id":"5511e8e5.25019","type":"api-call-service","z":"f3ac7618.46a8b8","name":"Send Pushover Notification - Brandon","server":"bf0aba48.82a0a","service_domain":"notify","service":"melody_brandon","data":"{\"title\":\"Presense Notifier\",\"message\":\"Joe is Home\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":785,"y":499,"wires":[[]]},{"id":"ce91843f.a9bc7","type":"api-call-service","z":"70065a63.991434","name":"Door Lock Notification - Brandon","server":"bf0aba48.82a0a","service_domain":"notify","service":"melody_brandon","data":"{\"title\":\"Ring Battery Update {{ states.sensor.time.state }}\",\"message\":\"August Doorlock is at less than 30% battery. Change it soon!\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":501,"y":328,"wires":[[]]},{"id":"5aa4d5c0.93318c","type":"api-call-service","z":"70065a63.991434","name":"Doorbell Notification - Brandon","server":"bf0aba48.82a0a","service_domain":"notify","service":"melody_brandon","data":"{\"title\":\"August Battery Update {{ states.sensor.time.state }}\",\"message\":\"Ring Doorbell is at less than 30% battery. Change it soon!\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":520,"y":538,"wires":[[]]},{"id":"eef32ae7.ffabe","type":"api-call-service","z":"54a0cb58.3c0b0c","name":"Send Pushover Notification - Brandon","server":"bf0aba48.82a0a","service_domain":"notify","service":"melody_brandon","data":"{\"title\":\"Pantry Door Remained Open\",\"message\":\"Pantry Door has been open for longer than 10 minutes!\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":931,"y":318,"wires":[["5ac77dd4.6a31ac"]]},{"id":"7e9d9512.6ec644","type":"server-state-changed","z":"54a0cb58.3c0b0c","name":"Check Sliding Door Status","server":"bf0aba48.82a0a","version":1,"entityidfilter":"binary_sensor.sliding_door","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":355,"y":88,"wires":[[],[]]},{"id":"40bd1a01.21f88c","type":"api-call-service","z":"54a0cb58.3c0b0c","name":"Send Pushover Notification","server":"bf0aba48.82a0a","service_domain":"notify","service":"melody","data":"{\"title\":\"Sliding Door Remained Open\",\"message\":\"Sliding Door has been open for longer than 30 minutes!\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":896,"y":50,"wires":[["3d8302b8.9efb7e"]]},{"id":"3d852755.a4d2d","type":"stoptimer","z":"54a0cb58.3c0b0c","duration":"30","units":"Minute","payloadtype":"num","payloadval":"0","name":"30 Min Countdown","x":657,"y":82,"wires":[["40bd1a01.21f88c","ed949484.b98228"],[]]},{"id":"fd8bfe6a.1ff788","type":"change","z":"54a0cb58.3c0b0c","name":"Stop Timer","rules":[{"t":"set","p":"payload","pt":"msg","to":"STOP","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":512,"y":142,"wires":[["3d852755.a4d2d"]]},{"id":"ed949484.b98228","type":"api-call-service","z":"54a0cb58.3c0b0c","name":"Send Pushover Notification - Brandon","server":"bf0aba48.82a0a","service_domain":"notify","service":"melody_brandon","data":"{\"title\":\"Sliding Door Remained Open\",\"message\":\"Sliding Door has been open for longer than 30 minutes!\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":915,"y":126,"wires":[["3d852755.a4d2d"]]},{"id":"b5fe78a5.90c35","type":"server-state-changed","z":"c711aad0.2877e8","name":"Office Light On?","server":"bf0aba48.82a0a","version":1,"entityidfilter":"light.office","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":368,"y":311,"wires":[["bcd4bf6b.ff95e8"],["9e09b105.94e15"]]},{"id":"23e64ba5.37308c","type":"api-call-service","z":"c711aad0.2877e8","name":"On Voice Confirmation","server":"bf0aba48.82a0a","service_domain":"notify","service":"alexa_media_joe_s_office_echo_dot","data":"{ \"message\":\"Office light is on\", \"data\":{\"type\":\"tts\"} }","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":704,"y":227,"wires":[[]]},{"id":"1d5eafc0.a7e13","type":"api-call-service","z":"c711aad0.2877e8","name":"Off Voice Confirmation","server":"bf0aba48.82a0a","service_domain":"notify","service":"alexa_media_joe_s_office_echo_dot","data":"{ \"message\":\"Office light is off\", \"data\":{\"type\":\"tts\"} }","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":699,"y":388,"wires":[[]]},{"id":"1d20e0b0.b9259f","type":"api-call-service","z":"f3ac7618.46a8b8","name":"Kayla Home Voice Confirmation","server":"bf0aba48.82a0a","service_domain":"notify","service":"alexa_media_joe_s_office_echo_dot","data":"{ \"message\":\"Kayla is Home\", \"data\":{\"type\":\"tts\"} }","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1185,"y":306,"wires":[[]]},{"id":"c8e9f3f9.21c588","type":"api-call-service","z":"f3ac7618.46a8b8","name":"Kayla Left Voice Confirmation","server":"bf0aba48.82a0a","service_domain":"notify","service":"alexa_media_joe_s_office_echo_dot","data":"{ \"message\":\"Kayla has left\", \"data\":{\"type\":\"tts\"} }","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1191,"y":375,"wires":[[]]},{"id":"9a94fdb3.8c5b48","type":"api-call-service","z":"f3ac7618.46a8b8","name":"Brandon Home Voice Confirmation","server":"bf0aba48.82a0a","service_domain":"notify","service":"alexa_media_joe_s_office_echo_dot","data":"{ \"message\":\"Brandon is Home\", \"data\":{\"type\":\"tts\"} }","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1255,"y":116,"wires":[[]]},{"id":"1e87eaa1.d1d46d","type":"api-call-service","z":"f3ac7618.46a8b8","name":"Brandon Left Voice Confirmation","server":"bf0aba48.82a0a","version":0,"service_domain":"notify","service":"alexa_media_joe_s_office_echo_dot","data":"{ \"message\":\"Brandon has left\", \"data\":{\"type\":\"tts\"} }","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1248,"y":169,"wires":[[]]},{"id":"68179224.d60324","type":"tcp request","z":"aeb44500.97e1d8","server":"10.10.20.205","port":"23","out":"time","splitc":"3000","name":"Send CMD","x":994,"y":407.9999694824219,"wires":[["ecddd4f3.8ba0c8"]]},{"id":"e7c071e4.6db6f","type":"debug","z":"aeb44500.97e1d8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1369.0001220703125,"y":395,"wires":[]},{"id":"ecddd4f3.8ba0c8","type":"function","z":"aeb44500.97e1d8","name":"Parse response","func":"msg.payload = msg.payload.toString('utf8');\nreturn msg;","outputs":1,"noerr":0,"x":1193.0001220703125,"y":404.9999694824219,"wires":[["e7c071e4.6db6f"]]},{"id":"19974aef.9d5705","type":"function","z":"aeb44500.97e1d8","name":"Projector CMD - ON","func":"msg.payload = \"\\x7e\\x30\\x30\\x30\\x30\\x20\\x31\\x0d\"\nreturn msg;","outputs":1,"noerr":0,"x":1090.0001220703125,"y":338,"wires":[["68179224.d60324","79ed3fde.8c5c6"]]},{"id":"28828d79.8727ea","type":"function","z":"aeb44500.97e1d8","name":"Projector CMD - OFF","func":"msg.payload = \"\\x7e\\x30\\x30\\x30\\x30\\x20\\x30\\x0d\"\nreturn msg;","outputs":1,"noerr":0,"x":783,"y":407,"wires":[["68179224.d60324"]]},{"id":"f3a4e8b6.64fc1","type":"server-state-changed","z":"aeb44500.97e1d8","name":"Theater Lights","server":"bf0aba48.82a0a","version":1,"entityidfilter":"input_boolean.theater_lights","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":101,"y":259,"wires":[["d9be948f.57f0a"],["f2af1fe3.14c848"]]},{"id":"d9be948f.57f0a","type":"api-call-service","z":"aeb44500.97e1d8","name":"Turn On Lights","server":"bf0aba48.82a0a","service_domain":"light","service":"turn_on","data":"{\"entity_id\":\"light.stairs\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":347.5,"y":228,"wires":[[]]},{"id":"f2af1fe3.14c848","type":"api-call-service","z":"aeb44500.97e1d8","name":"Turn Off Lights","server":"bf0aba48.82a0a","service_domain":"light","service":"turn_off","data":"{\"entity_id\":\"light.stairs\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":351,"y":283,"wires":[[]]},{"id":"1eb3a6df.af5de9","type":"server-state-changed","z":"aeb44500.97e1d8","name":"Theater Music","server":"bf0aba48.82a0a","version":1,"entityidfilter":"input_boolean.theater_music","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":95,"y":146,"wires":[["15bc23b9.af3f34"],["a34d1401.a0b4a8"]]},{"id":"15bc23b9.af3f34","type":"api-call-service","z":"aeb44500.97e1d8","name":"Turn On Receiver","server":"bf0aba48.82a0a","service_domain":"media_player","service":"turn_on","data":"{\"entity_id\":\"media_player.theatre_room_main\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":273.5,"y":124,"wires":[["3b1606c3.c862c2"]]},{"id":"3b1606c3.c862c2","type":"api-call-service","z":"aeb44500.97e1d8","name":"Set Volume","server":"bf0aba48.82a0a","service_domain":"media_player","service":"volume_set","data":"{\"entity_id\":\"media_player.theatre_room_main\",\"volume_level\":\"0.50\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":375,"y":93,"wires":[["3d909a60.9f774e"]]},{"id":"3d909a60.9f774e","type":"api-call-service","z":"aeb44500.97e1d8","name":"Set Source BT","server":"bf0aba48.82a0a","service_domain":"media_player","service":"select_source","data":"{\"entity_id\":\"media_player.theatre_room_main\",\"source\":\"bluetooth\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":516,"y":71,"wires":[[]]},{"id":"a34d1401.a0b4a8","type":"api-call-service","z":"aeb44500.97e1d8","name":"Turn Off Theater Music","server":"bf0aba48.82a0a","service_domain":"media_player","service":"turn_off","data":"{\"entity_id\":\"media_player.theatre_room_main\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":283,"y":172,"wires":[[]]},{"id":"9731d8eb.0778b","type":"server-state-changed","z":"aeb44500.97e1d8","name":"Theater Shield","server":"bf0aba48.82a0a","version":1,"entityidfilter":"input_boolean.theater_shield","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":111,"y":369,"wires":[["b22afdff.08fa18"],["c91dd4ea.384a2"]]},{"id":"b22afdff.08fa18","type":"api-call-service","z":"aeb44500.97e1d8","name":"Turn On Receiver","server":"bf0aba48.82a0a","service_domain":"media_player","service":"turn_on","data":"{\"entity_id\":\"media_player.theatre_room_main\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":309,"y":342,"wires":[["ebd344e3.d1bc3"]]},{"id":"ebd344e3.d1bc3","type":"api-call-service","z":"aeb44500.97e1d8","name":"Set Volume","server":"bf0aba48.82a0a","service_domain":"media_player","service":"volume_set","data":"{\"entity_id\":\"media_player.theatre_room_main\",\"volume_level\":\"0.70\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":490,"y":341,"wires":[["e7b6c43e.43b41"]]},{"id":"e7b6c43e.43b41","type":"api-call-service","z":"aeb44500.97e1d8","name":"Set Source HDMI1","server":"bf0aba48.82a0a","service_domain":"media_player","service":"select_source","data":"{\"entity_id\":\"media_player.theatre_room_main\",\"source\":\"hdmi1\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":671,"y":340,"wires":[["fb11e177.ee34a8"]]},{"id":"fb11e177.ee34a8","type":"api-call-service","z":"aeb44500.97e1d8","name":"Turn On Shield","server":"bf0aba48.82a0a","service_domain":"media_player","service":"turn_on","data":"{\"entity_id\":\"media_player.theater_shield\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":869,"y":338,"wires":[["19974aef.9d5705"]]},{"id":"c91dd4ea.384a2","type":"api-call-service","z":"aeb44500.97e1d8","name":"Turn Off Theater Receiver","server":"bf0aba48.82a0a","service_domain":"media_player","service":"turn_off","data":"{\"entity_id\":\"media_player.theatre_room_main\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":320,"y":402,"wires":[["9f38edb0.893748"]]},{"id":"9f38edb0.893748","type":"api-call-service","z":"aeb44500.97e1d8","name":"Turn Off Shield","server":"bf0aba48.82a0a","service_domain":"media_player","service":"turn_off","data":"{\"entity_id\":\"media_player.theater_shield\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":551,"y":403,"wires":[["28828d79.8727ea"]]},{"id":"23a9150b.19de22","type":"server-state-changed","z":"aeb44500.97e1d8","name":"Living Room Lights","server":"bf0aba48.82a0a","version":1,"entityidfilter":"input_boolean.living_room_lights","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":101,"y":662.0000305175781,"wires":[["6246f0f7.623b1"],["b73daa8c.63c2"]]},{"id":"6246f0f7.623b1","type":"api-call-service","z":"aeb44500.97e1d8","name":"Turn On Lights","server":"bf0aba48.82a0a","service_domain":"light","service":"turn_on","data":"{\"entity_id\":\"light.living_room\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":327.5,"y":631.0000305175781,"wires":[[]]},{"id":"b73daa8c.63c2","type":"api-call-service","z":"aeb44500.97e1d8","name":"Turn Off Lights","server":"bf0aba48.82a0a","service_domain":"light","service":"turn_off","data":"{\"entity_id\":\"light.living_room\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":331,"y":686.0000305175781,"wires":[[]]},{"id":"daff507c.505208","type":"server-state-changed","z":"aeb44500.97e1d8","name":"Living Room Music","server":"bf0aba48.82a0a","version":1,"entityidfilter":"input_boolean.living_room_music","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":95,"y":549.0000305175781,"wires":[["e7c37020.12134"],["5b44895f.fe5f8"]]},{"id":"e7c37020.12134","type":"api-call-service","z":"aeb44500.97e1d8","name":"Turn On Receiver","server":"bf0aba48.82a0a","service_domain":"media_player","service":"turn_on","data":"{\"entity_id\":\"media_player.living_room_main, media_player.living_room_zone2\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":253.5,"y":527.0000305175781,"wires":[["ce926d34.4a78d8"]]},{"id":"ce926d34.4a78d8","type":"api-call-service","z":"aeb44500.97e1d8","name":"Set Volume","server":"bf0aba48.82a0a","service_domain":"media_player","service":"volume_set","data":"{\"entity_id\":\"media_player.living_room_main\",\"volume_level\":\"0.50\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":355,"y":496.0000305175781,"wires":[["b67f2508.530fd"]]},{"id":"b67f2508.530fd","type":"api-call-service","z":"aeb44500.97e1d8","name":"Set Source BT","server":"bf0aba48.82a0a","service_domain":"media_player","service":"select_source","data":"{\"entity_id\":\"media_player.living_room_main\",\"source\":\"bluetooth\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":496,"y":474.0000305175781,"wires":[["e993dd2.749c32"]]},{"id":"5b44895f.fe5f8","type":"api-call-service","z":"aeb44500.97e1d8","name":"Turn Off Living Room Music","server":"bf0aba48.82a0a","service_domain":"media_player","service":"turn_off","data":"{\"entity_id\":\"media_player.living_room_main, media_player.living_room_zone2\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":298,"y":577,"wires":[["52c941b7.a3ce6"]]},{"id":"26947826.48a11","type":"server-state-changed","z":"aeb44500.97e1d8","name":"Living Room Shield","server":"bf0aba48.82a0a","version":1,"entityidfilter":"input_boolean.living_room_shield","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":101,"y":772.0000305175781,"wires":[["5a23238d.52480c"],["d404a894.864c1"]]},{"id":"5a23238d.52480c","type":"api-call-service","z":"aeb44500.97e1d8","name":"Turn On Receiver","server":"bf0aba48.82a0a","service_domain":"media_player","service":"turn_on","data":"{\"entity_id\":\"media_player.living_room_main\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":289,"y":745.0000305175781,"wires":[["461f555d.11cdec"]]},{"id":"461f555d.11cdec","type":"api-call-service","z":"aeb44500.97e1d8","name":"Set Volume","server":"bf0aba48.82a0a","service_domain":"media_player","service":"volume_set","data":"{\"entity_id\":\"media_player.living_room_main\",\"volume_level\":\"0.10\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":470,"y":744.0000305175781,"wires":[["b47c8c96.105b8"]]},{"id":"b47c8c96.105b8","type":"api-call-service","z":"aeb44500.97e1d8","name":"Set Source HDMI1","server":"bf0aba48.82a0a","service_domain":"media_player","service":"select_source","data":"{\"entity_id\":\"media_player.living_room_main\",\"source\":\"hdmi1\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":651,"y":743.0000305175781,"wires":[["9f176bae.45973"]]},{"id":"9f176bae.45973","type":"api-call-service","z":"aeb44500.97e1d8","name":"Turn On Shield","server":"bf0aba48.82a0a","service_domain":"media_player","service":"turn_on","data":"{\"entity_id\":\"media_player.living_room_shield\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":854,"y":738,"wires":[["e6fab513.beb6a"]]},{"id":"d404a894.864c1","type":"api-call-service","z":"aeb44500.97e1d8","name":"Turn Off Theater Receiver","server":"bf0aba48.82a0a","service_domain":"media_player","service":"turn_off","data":"{\"entity_id\":\"media_player.living_room_main, media_player.living_room_zone2\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":300,"y":805.0000305175781,"wires":[["2fe7e1aa.8562c6"]]},{"id":"2fe7e1aa.8562c6","type":"api-call-service","z":"aeb44500.97e1d8","name":"Turn Off Shield","server":"bf0aba48.82a0a","service_domain":"media_player","service":"turn_off","data":"{\"entity_id\":\"media_player.living_room_shield\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":531,"y":806.0000305175781,"wires":[["1a5663e4.fe335c"]]},{"id":"e993dd2.749c32","type":"api-call-service","z":"aeb44500.97e1d8","name":"Set Volume Z2","server":"bf0aba48.82a0a","service_domain":"media_player","service":"volume_set","data":"{\"entity_id\":\"media_player.living_room_zone2\",\"volume_level\":\"0.70\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":602,"y":513,"wires":[["8cdacae6.9b1018"]]},{"id":"8cdacae6.9b1018","type":"api-call-service","z":"aeb44500.97e1d8","name":"Set Source Z2","server":"bf0aba48.82a0a","service_domain":"media_player","service":"select_source","data":"{\"entity_id\":\"media_player.living_room_zone2\",\"source\":\"main_sync\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":728,"y":476,"wires":[[]]},{"id":"52c941b7.a3ce6","type":"api-call-service","z":"aeb44500.97e1d8","name":"Turn Off TV","server":"bf0aba48.82a0a","version":"1","service_domain":"switch","service":"turn_off","entityId":"switch.living_room_tv_power","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":553,"y":577,"wires":[[]]},{"id":"1a5663e4.fe335c","type":"api-call-service","z":"aeb44500.97e1d8","name":"Turn Off TV","server":"bf0aba48.82a0a","version":1,"service_domain":"switch","service":"turn_off","entityId":"switch.living_room_tv_power","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":740,"y":807,"wires":[[]]},{"id":"e6fab513.beb6a","type":"api-call-service","z":"aeb44500.97e1d8","name":"Turn On TV","server":"bf0aba48.82a0a","service_domain":"switch","service":"turn_on","data":"{\"entity_id\":\"switch.living_room_tv_power\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1051,"y":736,"wires":[["73ccb79.aeb50c8"]]},{"id":"73ccb79.aeb50c8","type":"api-call-service","z":"aeb44500.97e1d8","name":"Set Source Plex","server":"bf0aba48.82a0a","service_domain":"media_player","service":"select_source","data":"{\"entity_id\":\"media_player.living_room_shield\",\"source\":\"Plex\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1276,"y":731,"wires":[[]]},{"id":"79ed3fde.8c5c6","type":"api-call-service","z":"aeb44500.97e1d8","name":"Set Source Plex","server":"bf0aba48.82a0a","service_domain":"media_player","service":"select_source","data":"{\"entity_id\":\"media_player.theater_shield\",\"source\":\"Plex\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1335,"y":337,"wires":[[]]},{"id":"6d44c8f1.04eb","type":"server-state-changed","z":"54a0cb58.3c0b0c","name":"Check Front Door Status","server":"bf0aba48.82a0a","version":1,"entityidfilter":"lock.front_door","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"unlocked","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":368,"y":445,"wires":[[],[]]},{"id":"debf40f2.bc30d8","type":"api-call-service","z":"54a0cb58.3c0b0c","name":"Send Pushover Notification","server":"bf0aba48.82a0a","service_domain":"notify","service":"melody","data":"{\"title\":\"Front Door Remained Open\",\"message\":\"Front Door has been open for longer than 10 minutes!\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":888,"y":378,"wires":[["497fe38b.cc70c4"]]},{"id":"fc3d08b0.7cd018","type":"stoptimer","z":"54a0cb58.3c0b0c","duration":"10","units":"Minute","payloadtype":"num","payloadval":"0","name":"10 Min Countdown","x":656,"y":441,"wires":[["debf40f2.bc30d8","ac54ac.2e1c9358"],[]]},{"id":"b531291e.84bba","type":"change","z":"54a0cb58.3c0b0c","name":"Stop Timer","rules":[{"t":"set","p":"payload","pt":"msg","to":"STOP","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":504,"y":512,"wires":[["fc3d08b0.7cd018"]]},{"id":"ac54ac.2e1c9358","type":"api-call-service","z":"54a0cb58.3c0b0c","name":"Send Pushover Notification - Brandon","server":"bf0aba48.82a0a","service_domain":"notify","service":"melody_brandon","data":"{\"title\":\"Front Door Remained Open\",\"message\":\"Front Door has been open for longer than 10 minutes!\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":919,"y":491,"wires":[["fc3d08b0.7cd018"]]},{"id":"2a5f038e.187cb4","type":"api-call-service","z":"70065a63.991434","name":"Front Door Low Battery Voice","server":"bf0aba48.82a0a","service_domain":"notify","service":"alexa_media_joe_s_office_echo_dot","data":"{ \"message\":\"Front Door Battery Low\", \"data\":{\"type\":\"tts\"} }","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":896,"y":375,"wires":[[]]},{"id":"a7f87680.385af8","type":"api-call-service","z":"70065a63.991434","name":"Front Doorbell Low Battery Voice","server":"bf0aba48.82a0a","service_domain":"notify","service":"alexa_media_joe_s_office_echo_dot","data":"{ \"message\":\"Front Doorbell Battery Low\", \"data\":{\"type\":\"tts\"} }","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":933,"y":581,"wires":[[]]},{"id":"5c5a7ef0.019438","type":"api-call-service","z":"54a0cb58.3c0b0c","name":"Voice Message ","server":"bf0aba48.82a0a","service_domain":"notify","service":"alexa_media_joe_s_office_echo_dot","data":"{ \"message\":\"Sliding Door has remained open\", \"data\":{\"type\":\"tts\"} }","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1287,"y":57,"wires":[["3d852755.a4d2d"]]},{"id":"b9c6830a.6bbfb","type":"api-call-service","z":"54a0cb58.3c0b0c","name":"Voice Message ","server":"bf0aba48.82a0a","service_domain":"notify","service":"alexa_media_joe_s_office_echo_dot","data":"{ \"message\":\"Front Door has remained open\", \"data\":{\"type\":\"tts\"} }","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1300,"y":423,"wires":[["fc3d08b0.7cd018"]]},{"id":"8c875330.b5ccb8","type":"api-call-service","z":"54a0cb58.3c0b0c","name":"Voice Message ","server":"bf0aba48.82a0a","version":"1","service_domain":"notify","service":"alexa_media_joe_s_office_echo_dot","entityId":"","data":"{ \"message\":\"Pantry Door has remained open\", \"data\":{\"type\":\"tts\"} }","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1295,"y":220,"wires":[["5ac77dd4.6a31ac"]]},{"id":"64db3aa1.40765c","type":"comment","z":"f3ac7618.46a8b8","name":"Tracks Home Users and Notifies when change","info":"","x":448,"y":46,"wires":[]},{"id":"6830c195.480a48","type":"comment","z":"1a2cb565.da8d13","name":"Turns on kitchen light when the sun is down and the sliding door is opened, if the shield is off","info":"","x":407,"y":112,"wires":[]},{"id":"9bc615f9.db0d98","type":"comment","z":"1a2cb565.da8d13","name":"Turns On and Off certain night lights based on the sun","info":"","x":270,"y":259,"wires":[]},{"id":"613c58f9.2f03f8","type":"comment","z":"70065a63.991434","name":"Notifies of Low Batteries for the August door lock","info":"","x":201,"y":261,"wires":[]},{"id":"691916c2.889c","type":"comment","z":"70065a63.991434","name":"Notifies of Low Batteries for the Ring Doorbell","info":"","x":359,"y":488,"wires":[]},{"id":"ad215bac.196bf","type":"comment","z":"54a0cb58.3c0b0c","name":"Track the door status and notifiy users every X minutes until the door is closed","info":"","x":275,"y":182,"wires":[]},{"id":"fac31085.34499","type":"comment","z":"54a0cb58.3c0b0c","name":"Turns on and off pantry light when door is opened","info":"","x":237,"y":598,"wires":[]},{"id":"24791023.22c038","type":"comment","z":"3c86396e.47e14e","name":"Sets home assistant theme on connect","info":"","x":556,"y":306,"wires":[]},{"id":"8031c630.e389c","type":"comment","z":"c711aad0.2877e8","name":"Tells Joes Office when the light is on or off","info":"","x":382,"y":203,"wires":[]},{"id":"b69cea15.eede7","type":"comment","z":"fb5a1469.765f7","name":"WIP - Sets Max Volume on all receivers during a party","info":"","x":408,"y":127,"wires":[]},{"id":"9e09b105.94e15","type":"api-call-service","z":"c711aad0.2877e8","name":"Set Volume","server":"bf0aba48.82a0a","service_domain":"media_player","service":"volume_set","data":"{\"entity_id\":\"media_player.joe_s_office_echo_dot\",\"volume_level\":\"0.45\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":498,"y":399,"wires":[["1d5eafc0.a7e13"]]},{"id":"f6344501.7baf2","type":"api-call-service","z":"f3ac7618.46a8b8","name":"Set Volume","server":"bf0aba48.82a0a","service_domain":"media_player","service":"volume_set","data":"{\"entity_id\":\"media_player.joe_s_office_echo_dot\",\"volume_level\":\"0.45\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":999,"y":117,"wires":[["9a94fdb3.8c5b48"]]},{"id":"8e145e48.a71b1","type":"api-call-service","z":"f3ac7618.46a8b8","name":"Set Volume","server":"bf0aba48.82a0a","service_domain":"media_player","service":"volume_set","data":"{\"entity_id\":\"media_player.joe_s_office_echo_dot\",\"volume_level\":\"0.45\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":993,"y":169,"wires":[["1e87eaa1.d1d46d"]]},{"id":"facdaa98.955df8","type":"api-call-service","z":"f3ac7618.46a8b8","name":"Set Volume","server":"bf0aba48.82a0a","service_domain":"media_player","service":"volume_set","data":"{\"entity_id\":\"media_player.joe_s_office_echo_dot\",\"volume_level\":\"0.45\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":960,"y":379,"wires":[["c8e9f3f9.21c588"]]},{"id":"e198e89e.d667a8","type":"api-call-service","z":"f3ac7618.46a8b8","name":"Set Volume","server":"bf0aba48.82a0a","service_domain":"media_player","service":"volume_set","data":"{\"entity_id\":\"media_player.joe_s_office_echo_dot\",\"volume_level\":\"0.45\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":953,"y":308,"wires":[["1d20e0b0.b9259f"]]},{"id":"b3d1001a.89f21","type":"api-call-service","z":"70065a63.991434","name":"Set Volume","server":"bf0aba48.82a0a","service_domain":"media_player","service":"volume_set","data":"{\"entity_id\":\"media_player.joe_s_office_echo_dot\",\"volume_level\":\"0.45\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":677,"y":378,"wires":[["2a5f038e.187cb4"]]},{"id":"74de34.057279cc","type":"api-call-service","z":"70065a63.991434","name":"Set Volume","server":"bf0aba48.82a0a","service_domain":"media_player","service":"volume_set","data":"{\"entity_id\":\"media_player.joe_s_office_echo_dot\",\"volume_level\":\"0.45\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":676,"y":584,"wires":[["a7f87680.385af8"]]},{"id":"3d8302b8.9efb7e","type":"api-call-service","z":"54a0cb58.3c0b0c","name":"Set Volume","server":"bf0aba48.82a0a","service_domain":"media_player","service":"volume_set","data":"{\"entity_id\":\"media_player.joe_s_office_echo_dot\",\"volume_level\":\"0.45\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1101,"y":32,"wires":[["5c5a7ef0.019438"]]},{"id":"2491d58d.d89a9a","type":"api-call-service","z":"54a0cb58.3c0b0c","name":"Set Volume","server":"bf0aba48.82a0a","service_domain":"media_player","service":"volume_set","data":"{\"entity_id\":\"media_player.joe_s_office_echo_dot\",\"volume_level\":\"0.45\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1123,"y":218,"wires":[["8c875330.b5ccb8"]]},{"id":"497fe38b.cc70c4","type":"api-call-service","z":"54a0cb58.3c0b0c","name":"Set Volume","server":"bf0aba48.82a0a","service_domain":"media_player","service":"volume_set","data":"{\"entity_id\":\"media_player.joe_s_office_echo_dot\",\"volume_level\":\"0.45\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1135,"y":374,"wires":[["b9c6830a.6bbfb"]]},{"id":"46811beb.51b6c4","type":"trigger-state","z":"fb5a1469.765f7","name":"Sound Level Living Room","server":"bf0aba48.82a0a","entityid":"sensor.living_room_volume","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"1271wfo9k2vi","targetType":"entity_id","targetValue":"input_boolean.drunk_mode","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"bool","comparatorValue":"true"},{"id":"azsqjh1ay7p","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":">","comparatorValueDatatype":"num","comparatorValue":"60"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":true,"state_type":"num","x":310.5,"y":366,"wires":[["df9461e7.43063"],[]]},{"id":"a073c142.f8d918","type":"trigger-state","z":"fb5a1469.765f7","name":"Sound Level Theater","server":"bf0aba48.82a0a","entityid":"sensor.theater_volume","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"1271wfo9k2vi","targetType":"entity_id","targetValue":"input_boolean.drunk_mode","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"bool","comparatorValue":"true"},{"id":"qwth0pv1jp","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":">","comparatorValueDatatype":"num","comparatorValue":"70"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":true,"state_type":"num","x":302,"y":468,"wires":[["f72cc8d2.2865"],[]]},{"id":"61b589e0.d0ba6","type":"trigger-state","z":"fb5a1469.765f7","name":"Sound Level Living Room Z2","server":"bf0aba48.82a0a","entityid":"sensor.living_room_z2_volume","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"1271wfo9k2vi","targetType":"entity_id","targetValue":"input_boolean.drunk_mode","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"bool","comparatorValue":"true"},{"id":"xzl263t9k8o","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":">","comparatorValueDatatype":"num","comparatorValue":"90"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":true,"state_type":"num","x":320,"y":417,"wires":[["c485ba98.1eade8"],[]]},{"id":"ea8bda9b.2f6fa8","type":"comment","z":"1a2cb565.da8d13","name":"Turns On Theater Lights after a Movie at night","info":"","x":190,"y":573,"wires":[]},{"id":"8a9e297a.c77c08","type":"api-call-service","z":"1a2cb565.da8d13","name":"Turn On Lights","server":"bf0aba48.82a0a","service_domain":"light","service":"turn_on","data":"{\"entity_id\":\"light.stairs\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":393,"y":609,"wires":[[]]},{"id":"e5e1e883.38ae18","type":"trigger-state","z":"1a2cb565.da8d13","name":"Theater Turned Off at Night","server":"bf0aba48.82a0a","entityid":"input_boolean.theater_shield","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"i2hlaq4qcw","targetType":"entity_id","targetValue":"sun.sun","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"below_horizon"},{"id":"ddrypk26jz8","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"off"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":125,"y":612,"wires":[["8a9e297a.c77c08"],[]]},{"id":"df9461e7.43063","type":"api-call-service","z":"fb5a1469.765f7","name":"Set Volume","server":"bf0aba48.82a0a","service_domain":"media_player","service":"volume_set","data":"{\"entity_id\":\"media_player.living_room_main\",\"volume_level\":\"0.60\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":527,"y":336,"wires":[[]]},{"id":"c485ba98.1eade8","type":"api-call-service","z":"fb5a1469.765f7","name":"Set Volume","server":"bf0aba48.82a0a","service_domain":"media_player","service":"volume_set","data":"{\"entity_id\":\"media_player.living_room_zone2\",\"volume_level\":\"0.90\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":560,"y":398,"wires":[[]]},{"id":"f72cc8d2.2865","type":"api-call-service","z":"fb5a1469.765f7","name":"Set Volume","server":"bf0aba48.82a0a","service_domain":"media_player","service":"volume_set","data":"{\"entity_id\":\"media_player.theater\",\"volume_level\":\"0.70\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":521,"y":463,"wires":[[]]},{"id":"bcd4bf6b.ff95e8","type":"api-call-service","z":"c711aad0.2877e8","name":"Set Volume","server":"bf0aba48.82a0a","service_domain":"media_player","service":"volume_set","data":"{\"entity_id\":\"media_player.joe_s_office_echo_dot\",\"volume_level\":\"0.45\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":487,"y":262,"wires":[["23e64ba5.37308c"]]},{"id":"a73e6866.b53ef","type":"delay","z":"54a0cb58.3c0b0c","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":283,"y":499,"wires":[["b531291e.84bba"]]},{"id":"431c0e0d.b01ba8","type":"comment","z":"54a0cb58.3c0b0c","name":"Turns on and off Outdoor Fan/Light","info":"","x":145,"y":792,"wires":[]},{"id":"bb0915cd.dcc7b8","type":"delay","z":"54a0cb58.3c0b0c","name":"2 hour timeout","pauseType":"delay","timeout":"2","timeoutUnits":"hours","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":543,"y":837,"wires":[["534d36e3.0722e"]]},{"id":"534d36e3.0722e","type":"api-call-service","z":"54a0cb58.3c0b0c","name":"Turn Off Outdoor Fan","server":"bf0aba48.82a0a","service_domain":"fan","service":"turn_off","data":"{\"entity_id\":\"fan.outdoor_fan\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":831,"y":832,"wires":[["a01425ca.6538b8"]],"icon":"font-awesome/fa-lightbulb-o","info":"after this read the value of the timer, if its on then cancel it. if not ignore."},{"id":"a01425ca.6538b8","type":"api-call-service","z":"54a0cb58.3c0b0c","name":"Turn Off Outdoor Fan Light","server":"bf0aba48.82a0a","service_domain":"light","service":"turn_off","data":"{\"entity_id\":\"light.outdoor_fan\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1165,"y":829,"wires":[[]],"icon":"font-awesome/fa-lightbulb-o","info":"after this read the value of the timer, if its on then cancel it. if not ignore."},{"id":"37a31e53.48765a","type":"api-call-service","z":"430cc093.097708","name":"Intercom Test","server":"bf0aba48.82a0a","version":1,"service_domain":"notify","service":"alexa_media_joe_s_office_echo_dot","entityId":"","data":"{ \"message\":\"Pantry Door has remained open\", \"data\":{\"type\":\"tts\"} }","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":606,"y":529,"wires":[["48921e31.243138"]]},{"id":"8be1aa9.0ae7258","type":"api-call-service","z":"430cc093.097708","name":"Set Volume","server":"bf0aba48.82a0a","version":1,"service_domain":"media_player","service":"volume_set","entityId":"media_player.joe_s_office_echo_dot","data":"{\"volume_level\":\"0.60\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":425,"y":533,"wires":[["37a31e53.48765a"]]},{"id":"48921e31.243138","type":"debug","z":"430cc093.097708","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":727.5,"y":681,"wires":[]},{"id":"1923b815.68e73","type":"server-state-changed","z":"54a0cb58.3c0b0c","name":"Garage Door State Change","server":"bf0aba48.82a0a","version":1,"entityidfilter":"binary_sensor.garage_door","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":280,"y":700,"wires":[["52dc58ed.6d9968"],["1fdf8d80.bcc32b"]]},{"id":"e15ad2a4.635fd8","type":"server-state-changed","z":"54a0cb58.3c0b0c","name":"Outdoor Fan State Change","server":"bf0aba48.82a0a","version":1,"entityidfilter":"fan.outdoor_fan","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":266,"y":843,"wires":[["bb0915cd.dcc7b8"],[]]},{"id":"5a850d52.f85844","type":"server-state-changed","z":"54a0cb58.3c0b0c","name":"Pantry Door State Change","server":"bf0aba48.82a0a","version":1,"entityidfilter":"binary_sensor.pantry_door","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":269,"y":650,"wires":[["52dc58ed.6d9968"],["1fdf8d80.bcc32b"]]},{"id":"3d841f0d.2448c","type":"api-call-service","z":"5d90dc2e.5bfcac","name":"Send Pushover Notification","server":"bf0aba48.82a0a","version":1,"service_domain":"notify","service":"melody","entityId":"","data":"{\"title\":\"Take out the trash\",\"message\":\"For the love of god, take out the trash\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":494,"y":225,"wires":[["3548e3dc.a82954"]]},{"id":"15d1dd6.a615423","type":"api-call-service","z":"5d90dc2e.5bfcac","name":"Voice Message ","server":"bf0aba48.82a0a","version":1,"service_domain":"notify","service":"alexa_media_joe_s_office_echo_dot","entityId":"","data":"{ \"message\":\"Take out the trash\", \"data\":{\"type\":\"tts\"} }","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1000,"y":239,"wires":[[]]},{"id":"3548e3dc.a82954","type":"api-call-service","z":"5d90dc2e.5bfcac","name":"Set Volume","server":"bf0aba48.82a0a","version":"1","service_domain":"media_player","service":"volume_set","entityId":"media_player.joe_s_office_echo_dot","data":"{\"volume_level\":\"0.45\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":764,"y":218,"wires":[["15d1dd6.a615423"]]},{"id":"7c0fbf49.5b1fa8","type":"api-call-service","z":"5d90dc2e.5bfcac","name":"Send Pushover Notification","server":"bf0aba48.82a0a","version":1,"service_domain":"notify","service":"melody_brandon","entityId":"","data":"{\"title\":\"Take out the trash\",\"message\":\"For the love of god, take out the trash\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":495,"y":282,"wires":[["c9876fb5.2731e"]]},{"id":"c9876fb5.2731e","type":"api-call-service","z":"5d90dc2e.5bfcac","name":"Set Volume","server":"bf0aba48.82a0a","version":1,"service_domain":"media_player","service":"volume_set","entityId":"media_player.brandon_s_echo","data":"{\"volume_level\":\"0.45\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":762,"y":281,"wires":[["2ca558f1.8242b8"]]},{"id":"2ca558f1.8242b8","type":"api-call-service","z":"5d90dc2e.5bfcac","name":"Voice Message ","server":"bf0aba48.82a0a","version":1,"service_domain":"notify","service":"alexa_media_brandon_s_echo","entityId":"","data":"{ \"message\":\"Take out the trash\", \"data\":{\"type\":\"tts\"} }","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":979,"y":296,"wires":[[]]},{"id":"a3a4a85b.442ca8","type":"switch","z":"aeb44500.97e1d8","name":"Is Spotify Active","property":"data.attributes.source","propertyType":"msg","rules":[{"t":"eq","v":"spotify","vt":"str"},{"t":"neq","v":"spotify","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":316,"y":988,"wires":[["1067ec7.2ce7914"],[]]},{"id":"1067ec7.2ce7914","type":"api-call-service","z":"aeb44500.97e1d8","name":"Set Source BT","server":"bf0aba48.82a0a","version":1,"service_domain":"media_player","service":"select_source","entityId":"media_player.living_room_main","data":"{\"source\":\"bluetooth\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":549,"y":989,"wires":[[]]},{"id":"8e144a3d.e109","type":"poll-state","z":"aeb44500.97e1d8","name":"Is Music Playing?","server":"bf0aba48.82a0a","version":1,"updateinterval":"2","updateIntervalUnits":"minutes","outputinitially":true,"outputonchanged":true,"entity_id":"media_player.living_room_main","state_type":"str","halt_if":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"x":95.5,"y":982.5,"wires":[["a3a4a85b.442ca8"],[]]},{"id":"96c6712c.f43ac","type":"comment","z":"54a0cb58.3c0b0c","name":"Welcome Home Lights","info":"","x":140,"y":929,"wires":[]},{"id":"caa70e9e.2eef68","type":"trigger-state","z":"54a0cb58.3c0b0c","name":"Someone Comes Home","server":"bf0aba48.82a0a","entityid":"binary_sensor.front_door_open","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"6fjhz42wz89","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on"},{"id":"xyd0o25sv2r","targetType":"entity_id","targetValue":"light.chandelier","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"off"},{"id":"gmykynp7yhr","targetType":"entity_id","targetValue":"light.kitchen","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"off"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":true,"state_type":"str","x":139.5,"y":981.5,"wires":[[],[]]},{"id":"11025f31.85c349","type":"api-call-service","z":"54a0cb58.3c0b0c","name":"Chandelier @ 1%","server":"bf0aba48.82a0a","version":1,"service_domain":"light","service":"turn_on","entityId":"light.chandelier","data":"{\"brightness\":10}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":383,"y":943,"wires":[["26ff5d68.fd3212"]]},{"id":"5eb23519.d56d24","type":"api-render-template","z":"54a0cb58.3c0b0c","name":"Get new light setting","server":"bf0aba48.82a0a","template":"{{ [250, state_attr('light.chandelier', 'brightness') + 1] | min }}","resultsLocation":"payload","resultsLocationType":"msg","templateLocation":"template","templateLocationType":"msg","x":507,"y":1076,"wires":[["45baabaf.268a04","1cd3b242.5904d6"]]},{"id":"45baabaf.268a04","type":"api-call-service","z":"54a0cb58.3c0b0c","name":"Increase light","server":"bf0aba48.82a0a","version":1,"service_domain":"light","service":"turn_on","entityId":"light.chandelier","data":"{\"brightness\":{{ payload }}}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":471,"y":1167,"wires":[["686e5e4a.fcf9c8"]]},{"id":"b39534dc.272bf","type":"function","z":"430cc093.097708","name":"Get day of week","func":"var day = new Date().getDay();\n\nvar isWeekend = (day === 6) || (day === 0); \n\nreturn {\n    payload: isWeekend,\n};","outputs":1,"noerr":0,"x":199,"y":393,"wires":[["849cfcaa.dd4ff"]]},{"id":"849cfcaa.dd4ff","type":"switch","z":"430cc093.097708","name":"Is it weekend?","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":199,"y":433,"wires":[["6af188e2.564368"],["59ace263.3d8e94"]]},{"id":"6af188e2.564368","type":"api-current-state","z":"430cc093.097708","name":"Enabled on weekends?","server":"ae61969b.22a82","outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"input_boolean.wakeup_weekend","state_type":"str","override_payload":true,"override_data":true,"x":469,"y":393,"wires":[["59ace263.3d8e94"],[]]},{"id":"59ace263.3d8e94","type":"api-current-state","z":"430cc093.097708","name":"Enabled?","server":"ae61969b.22a82","outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"input_boolean.wakeup_enabled","state_type":"str","override_payload":true,"override_data":true,"x":419,"y":433,"wires":[["60b7b3e4.0038fc"],[]]},{"id":"60b7b3e4.0038fc","type":"api-call-service","z":"430cc093.097708","name":"1%","server":"ae61969b.22a82","service_domain":"light","service":"turn_on","data":"{\"entity_id\":\"light.bedroom\",\"brightness\":1}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":169,"y":573,"wires":[[]]},{"id":"84428eb2.f3cbc","type":"api-render-template","z":"430cc093.097708","name":"Get new light setting","server":"ae61969b.22a82","template":"{{ [250, state_attr('light.bedroom', 'brightness') + 9] | min }}","x":299,"y":653,"wires":[["475ca60c.84a6d"]]},{"id":"475ca60c.84a6d","type":"api-call-service","z":"430cc093.097708","name":"Increase light","server":"ae61969b.22a82","service_domain":"light","service":"turn_on","data":"{\"entity_id\":\"light.bedroom\",\"brightness\":\"{{ payload }}\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":309,"y":693,"wires":[[]]},{"id":"dacc88da.1d414","type":"server-state-changed","z":"430cc093.097708","name":"Wake up time input","server":"ae61969b.22a82","version":"1","entityidfilter":"input_datetime.wakeup_time","entityidfiltertype":"substring","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"x":169,"y":173,"wires":[["ba4749c5.e0b2e8"]]},{"id":"ba4749c5.e0b2e8","type":"function","z":"430cc093.097708","name":"Parse time","func":"new_msg = {\n    payload: {\n        ontime: msg.payload.substr(0,5),\n        offtime: msg.payload.substr(0,5)\n    }\n}\nreturn new_msg;","outputs":1,"noerr":0,"x":189,"y":253,"wires":[[]]},{"id":"93f4571f.93c9d","type":"switch","z":"430cc093.097708","name":"is on","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":529,"y":253,"wires":[["b39534dc.272bf"]]},{"id":"1a835b3b.f728bd","type":"comment","z":"430cc093.097708","name":"Time setting input","info":"","x":169,"y":133,"wires":[]},{"id":"35d2d9b5.f74c36","type":"comment","z":"430cc093.097708","name":"Trigger at the configured time","info":"","x":419,"y":213,"wires":[]},{"id":"7cbef348.98944c","type":"comment","z":"430cc093.097708","name":"Check if the wake-up light should be enabled on this day of the week","info":"","x":329,"y":333,"wires":[]},{"id":"66817f8e.64953","type":"comment","z":"430cc093.097708","name":"Run the wake-up sequence","info":"","x":199,"y":493,"wires":[]},{"id":"26ff5d68.fd3212","type":"delay","z":"54a0cb58.3c0b0c","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":416.5,"y":1006,"wires":[[]]},{"id":"686e5e4a.fcf9c8","type":"api-current-state","z":"54a0cb58.3c0b0c","name":"IS Done?","server":"bf0aba48.82a0a","version":1,"outputs":2,"halt_if":"{\"brightness\":100}","halt_if_type":"num","halt_if_compare":"lt","override_topic":false,"entity_id":"light.chandelier","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":459.5,"y":1275.5,"wires":[["26ff5d68.fd3212"],[]]},{"id":"66af258.3fe1adc","type":"server-state-changed","z":"54a0cb58.3c0b0c","name":"test","server":"bf0aba48.82a0a","version":1,"entityidfilter":"light.office","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":130,"y":1050,"wires":[[],["de12dbf3.1b918"]]},{"id":"de12dbf3.1b918","type":"api-call-service","z":"54a0cb58.3c0b0c","name":"test off","server":"bf0aba48.82a0a","version":1,"service_domain":"light","service":"turn_off","entityId":"light.chandelier","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":144,"y":1119,"wires":[[]]},{"id":"1cd3b242.5904d6","type":"debug","z":"54a0cb58.3c0b0c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":727.5,"y":1102,"wires":[]},{"id":"e72c589f.0e3de8","type":"server-state-changed","z":"430cc093.097708","name":"Party Mode swith temp","server":"bf0aba48.82a0a","version":1,"entityidfilter":"input_boolean.drunk_mode","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":356,"y":590,"wires":[["8be1aa9.0ae7258"],[]]}]